---
layout: default
---
{% include site-header.html %}
<style>
   body{
    background-image:linear-gradient(rgba(14, 14, 14, 0.9),rgba(14, 14, 14, 0.9)), url("{{site.baseurl}}/assets/placebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  }
  .profile_img{
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
 
</style>
<main class="main  container">

  <article class=" ">
  <center>
    {{ content }}
    
  </center>


  </article>


</main>

