---
layout: default
---

{% include site-header.html %}
<style>
  body{
    background-image:linear-gradient(rgba(27, 27, 27, 0.9),rgba(37, 37, 37, 0.9)), url("./assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    
  }
 
  .profile_img{
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
 
</style>
<main class="main  container">

  <article class=" ">
  <center>

    
  </center>
  
  {{ content }}

  </article>


</main>

